%h1= "Welcome #{username}!"
%a{:href => "/logout"} Logout

-# %h4 Top 20 rubyinside tweets
-# %ul
-#   - @data.each do |post|
-#     %li
-#       = post.text

%form(action="/user_search" method="get")
  %div
    %label(for="twitter_name")Write username:
    %input#twitter_name(type="text" name="twitter_name")
  %div
    %input(type="submit" value="Find")


